<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template is working</title>
</head>
<body>
<h1>welcome to the text analyzer.enter your text</h1>
<form action='\analyze' method='get' >
    <textarea name='text' style='margin: 0px; width: 668px; height: 82px;'></textarea>
    </br>
    <input  type='checkbox' name='rempunc'>remove puntuation<br>
    <input  type='checkbox' name='fullcaps'>capitalize text<br>
    <input  type='checkbox' name='newlinerem'>new line remover<br>
    <input  type='checkbox' name='spacerem'>extra space remover<br>
    <button type='submit'>Analyze Text</button>
</form>

<!--{{ name }} is from {{ p }}-->
</body>
</html>

